body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
}

.stream {
}

#wallpaper {
  height: 1200px;
  width: 1920;
}

#clock {
  font-size: 230%;
}
#hours {
  font-size: 200%;
}

#minutes {
  font-size: 300%;
}
#weather div.city {
  font-size: 120%;
}

#left, #current, #history, #capture, #water, #weather {
  float:left;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  font-size: 120%;
  width: 352px;
}

img {
  border-radius: 5px;
}

#capture {
  width: 300px;
}

#left {
  width: 450px;
}

#right {
  padding: 10px;
  float: right;
  width: 500px;
}

#current-to-right {
  float: right;
}

#history table, #current table, #water table {
  padding: 5px;
}

th {
  width: 200px;
}
