body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#capture {
  display: inline;
}

#history {
  float:right;
  text-align: center;
  font-size: 150%;
}
