body {
  background-color: black;
  color: white;
}

.stream {
  background-color: chocolate;
  padding-right: 1em;
  padding-left: 1em;
}

#weather, #current, #history, #capture, #water, #geolocation, #twitter {
  float:left;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;
  margin-top: 10px;
}

#capture {
  width: 300px;
}

#geolocation {
  width: 450px;
}

#twitter {
  width: 500px;
}

#history table, #current table, #water table {
  padding: 5px;
}

th {
  width: 200px;
}
