body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#current, #history, #capture, #water {
  float:left;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;
}

#history table, #current table, #water table {
  border: 1px solid black;
  padding: 5px;
}

#history th, #current th, @water th {
  width: 30px;
}
