extends layout

block content
  h1 Welcome on #{title}
  :markdown
    This is my own home automation project. It is based on the concept of micro-services.
    [You'll learn more on Wikipedia](https://en.wikipedia.org/wiki/Microservices).

    [The project is hosted by GitHub](https://github.com/sylvek/domotik)

    Two links are availables:

    - [current data](/current)
    - [history](/history)
