doctype html
html(ng-app='domotikApp')
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/nvd3/build/nv.d3.css')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/bower-mqttws/mqttws31.js')
    script(src='bower_components/d3/d3.js')
    script(src='bower_components/nvd3/build/nv.d3.js')
    script(src='bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.min.js')
    script(src='javascripts/domotik-app.js')
  body
    block content
